html {
  width: 100vw;
  height: 100vh;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'DINPro-medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #182026;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100%;
  height: 100%;
}

.dinBold {
  font-family: 'DINPro-bold';
}

.background-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.freeimages.com/images/large-previews/046/snow-textures-2-1509173.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.background-container::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.inputFormik {
  outline-color: none !important;
  border-radius: 5px;
  border-color: #182026;
}

.inputFormik:focus {
  border: 2px solid #17a2b8 !important;
  box-shadow: 0 0 0 0.2rem #fff !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #17a2b8 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs {
  cursor: pointer !important;
}

.modal-dialog {
  max-width: 700px !important;
}

.imgCard-banner {
  width: 60% !important;
  margin-left: auto !important;
  padding: 0 !important;
}
